---
import BaseLayout from "$layouts/BaseLayout.astro";
import type { GetStaticPaths } from "astro";
import { getImage } from "astro:assets";
import { getCollection, render } from "astro:content";
import GithubSlugger from "github-slugger";

export const getStaticPaths = (async () => {
	const catalogueContent = [];

	const slugger = new GithubSlugger();

	for (const catalogueType of ["games", "movies", "shows", "books"] as const) {
		catalogueContent.push(...(await getCollection(catalogueType)));
	}

	return catalogueContent.flatMap((entry) => ({
		params: { type: `${entry.data.type}s`, slug: slugger.slug(entry.data.title) },
		props: { entry: entry, metadata: entry.data.metadata },
	}));
}) satisfies GetStaticPaths;

const { entry } = Astro.props;
const { Content } = await render(entry);

const processedCover = await getImage({ src: entry.data.cover, width: 240 });

function getVerbByType() {
	switch (entry.data.type) {
		case "game":
			return "Played";
		case "movie":
		case "show":
			return "Watched";
		case "book":
			return "Read";
		default:
			return "Unknown";
	}
}
---

<BaseLayout>
	<article class="post mx-auto">
		<a href="/catalogue" class="my-2 inline-block">← Back to catalogue</a>
		<header class="flex justify-around gap-4">
			<a href={entry.data.cover.src} class="w-1/4"
				><img
					src={processedCover.src}
					width={processedCover.attributes.width}
					height={processedCover.attributes.height}
					decoding="async"
				/></a
			>
			<section class="w-3/4">
				<h2 class="m-0">{entry.data.title}</h2>
				{
					entry.data.finishedDate !== "N/A" && (
						<span>
							{getVerbByType()} on{" "}
							{new Date(entry.data.finishedDate).toLocaleDateString("en-US", {
								year: "numeric",
								month: "long",
								day: "numeric",
							})}
						</span>
					)
				}
				<h2>Thoughts</h2>
				<Content />
			</section>
		</header>
	</article>
</BaseLayout>
