---
import BaseLayout from "$layouts/BaseLayout.astro";
import type { GetStaticPaths } from "astro";
import { getImage } from "astro:assets";
import { getCollection, render } from "astro:content";

export const getStaticPaths = (async () => {
	let catalogueContent = [];

	for (const catalogueType of ["games", "movies", "shows", "books"] as const) {
		catalogueContent.push(...(await getCollection(catalogueType)));
	}

	return catalogueContent.flatMap((entry) => ({
		params: { type: entry.data.type + "s", slug: entry.id },
		props: { entry: entry, metadata: entry.data.metadata },
	}));
}) satisfies GetStaticPaths;

const { entry, metadata } = Astro.props;
const { Content } = await render(entry);

const processedCover = await getImage({ src: entry.data.cover, width: 240 });
---

<BaseLayout>
	<article class="post mx-auto">
		<a href="/catalogue" class="my-2 inline-block">← Back to catalogue</a>
		<header class="flex justify-around gap-4">
			<a href={entry.data.cover.src} class="w-1/4"
				><img
					src={processedCover.src}
					width={processedCover.attributes.width}
					height={processedCover.attributes.height}
					decoding="async"
				/></a
			>
			<section class="w-3/4">
				<h2 class="m-0">{entry.data.title}</h2>
				<span>{new Date(new Date(0).setUTCSeconds(1607472000)).getUTCFullYear()} - {}</span>
				{JSON.stringify(entry.data)}
				{JSON.stringify(metadata)}
			</section>
		</header>
		<h2>Thoughts</h2>
		<Content />
	</article>
</BaseLayout>
