---
import TableOfContent from "$components/shared/TableOfContent.astro";
import { getChangelog, type Changelog } from "$data/changelog";
import BaseLayout from "$layouts/BaseLayout.astro";
import { monthYearDate } from "$utils";
import { slug } from "github-slugger";

const changelog = getChangelog();

const monthYears = changelog.map(
	(changelogEntry) =>
		`${changelogEntry.date.getUTCMonth()}|${changelogEntry.date.getUTCFullYear()}`,
);
const uniqueMonthYears = new Set(monthYears);
const groupedMonths: Record<string, Changelog> = {};

for (const entry of uniqueMonthYears) {
	const [month, year] = entry.split("|").map((date) => parseInt(date));
	if (month === undefined || Number.isNaN(month) || year === undefined || Number.isNaN(year))
		continue;

	groupedMonths[monthYearDate(new Date(Date.UTC(year, month, 1)))] = changelog.filter(
		(changelogEntry) =>
			changelogEntry.date.getUTCMonth() === month && changelogEntry.date.getUTCFullYear() === year,
	);
}
---

<BaseLayout>
	<section class="">
		<article class="">
			<h2 class="">Changelog</h2>
			<div class="">Things change, and that's okay.</div>

			<label>
				<input type="checkbox" id="disable-catalogue-checkbox" />
				<span>Don't show catalogue entries changes</span>
			</label>
			{
				Object.entries(groupedMonths).map(([key, value]) => (
					<>
						<h3 id={slug(key)}>{key}</h3>
						<ul>
							{value.map((changelogEntry) => (
								<li data-changelog-catalogue={changelogEntry.isCatalogue ? true : undefined}>
									{/* prettier-ignore */}
									<a href={changelogEntry.link} class="">{changelogEntry.ref}</a>
									<span>{changelogEntry.desc}</span>
								</li>
							))}
						</ul>
					</>
				))
			}
		</article>

		<aside class="">
			<TableOfContent
				headers={Object.keys(groupedMonths).map((key) => ({
					slug: slug(key),
					text: key,
					depth: 2,
				}))}
				maxDepth={4}
			/>
		</aside>
	</section>
</BaseLayout>

<script>
	document.addEventListener("DOMContentLoaded", () => {
		const checkbox = document.getElementById("disable-catalogue-checkbox");
		const catalogueEntries = document.querySelectorAll("[data-changelog-catalogue]");

		if (!checkbox || !catalogueEntries) {
			return;
		}

		checkbox.addEventListener("change", () => {
			for (const entry of catalogueEntries) {
				entry.classList.toggle("hidden");
			}
		});
	});
</script>
