---
import BaseLayout from "$layouts/BaseLayout.astro"
import ArticlePreview from "$components/shared/ArticlePreview.astro"
import { postProcessArticle } from "$data/articles"
import { postProcessWikiItem } from "$data/wiki"
import { postProcessProject } from "$data/projects"
import { readableDate } from "$utils"
import type { Article } from "$data/articles"
import type { WikiItem } from "$data/wiki"
import type { Project } from "$data/projects"
import type { MarkdownInstance } from "$data/shared"

let articles = await Astro.glob<Article>("/content/articles/**/*.md")
articles = articles
  .map((article) => {
    article.frontmatter = postProcessArticle(article.frontmatter, article.file)
    return article
  })
  .sort((a, b) => {
    return b.frontmatter.date.getTime() - a.frontmatter.date.getTime()
  })
  .slice(0, 3)

let wikiItems = await Astro.glob<WikiItem>("/content/wiki/**/*.md")
wikiItems = wikiItems
  .map((wikiItem) => {
    wikiItem.frontmatter = postProcessWikiItem(wikiItem.frontmatter, wikiItem.file)
    return wikiItem
  })
  .sort((a, b) => {
    return b.frontmatter.lastModified.getTime() - a.frontmatter.lastModified.getTime()
  })
  .slice(0, 6)

let featuredProjects = await Astro.glob<Project>("/content/projects/**/*.md")
featuredProjects = featuredProjects
  .filter((project) => project.frontmatter.featured)
  .map((project) => {
    project.frontmatter = postProcessProject(project.frontmatter, project.file)
    return project
  })
  .slice(0, 3)
---

<BaseLayout>
  <article class="w-index mx-auto mt-2 sm:mt-6">
    <h2 class="mb-4 mt-0 text-4xl">Hello! 💐</h2>

    <p>
      I'm <span class="font-bold text-beach-watermelon">Erika</span>, a web/game developer from
      Canada 🇨🇦, pleased to meet you! Alternatively, I also go by the nickname <span
        class="font-semibold text-pinky-unicorny">Princesseuh</span
      > 👸, use whichever you prefer!
    </p>

    <p>
      I am currently employed at <a href="https://astro.build/">Astro</a> where I work as a core developer.
      While I do touch everything, I notably focus on making sure our users always get just the right
      tools needed for a good and efficient developer experience!
    </p>

    <p>
      Interested in seeing stuff I worked on? Click <a href="/projects/">here for my projects</a>!
      Wanna read stuff I wrote? Well, lucky you, <a href="/articles/">here's my blog</a>! You want
      to read random stuff I wrote mostly for myself? <a href="/wiki/">Take a look at my wiki</a
      >!&nbsp;🎉
    </p>

    <p>I hope you'll have fun visiting my website! 🎀</p>

    <h3 class="text-2xl mb-5">Featured works</h3>
    <div class="flex flex-wrap sm:mx-10 mt-2 mb-6 gap-5 sm:gap-4 justify-center items-center">
      {featuredProjects.map((project) => (
        <div class="h-[180px] relative">
          <a href={project.frontmatter.url}>
            <Fragment set:html={project.frontmatter.assets.indexCover} />
            <h4 class="cover-title">{project.frontmatter.title}</h4>
          </a>
        </div>
      ))}
    </div>

    <div class="flex justify-around gap-4 flex-col sm:flex-row">
      <div class="sm:w-[63%]">
        <h3 class="text-2xl mb-4 mt-2 sm:mt-4">Latest blog posts</h3>
        {articles.map((article) => <ArticlePreview article={article.frontmatter} />)}
      </div>

      <div class="sm:w-[37%]">
        <h3 class="text-2xl mb-4 mt-2 sm:mt-4">Latest wiki modifications</h3>
        {wikiItems.map((item) => (
          <section class="mb-3">
            <a class="block font-bold leading-tight" href={item.frontmatter.url}>
              {item.frontmatter.title}
            </a>
            <span
              class="text-sm first-letter:uppercase block"
              data-date={item.frontmatter.lastModified}
            >
              {readableDate(item.frontmatter.lastModified)}
            </span>
          </section>
        ))}
      </div>
    </div>
  </article>
</BaseLayout>
