---
import ExternalLink from "$components/ExternalLink.astro";
import ArticlePreview from "$components/shared/ArticlePreview.astro";
import { getLastModified } from "$data/wiki";
import BaseLayout from "$layouts/BaseLayout.astro";
import { blogFilter, getURLFromEntry, readableDate } from "$utils";
import { getCollection } from "astro:content";

const articles = (await getCollection("blog"))
	.sort((a, b) => {
		return b.data.date.getTime() - a.data.date.getTime();
	})
	.filter(blogFilter)
	.slice(0, 10);

const wikiItems = (await getCollection("wiki"))
	.map((wikiItem) => ({
		...wikiItem,
		lastModified: getLastModified(wikiItem).lastModifiedDate,
	}))
	.sort((a, b) => {
		return b.lastModified.getTime() - a.lastModified.getTime();
	})
	.slice(0, 7);
const featuredProjects = (await getCollection("projects"))
	.filter((project) => project.data.featured)
	.slice(0, 3);
---

<BaseLayout>
	<article class="mx-auto">
		<p class="mx-auto w-centered-width">
			Hello. I'm <span class="">Erika</span>, a software engineer living in Sweden&nbsp;🇸🇪, pleased
			to meet you!
		</p>

		<p class="mx-auto w-centered-width">
			I am currently employed at <ExternalLink href="https://astro.build">Astro</ExternalLink> where
			I do a bit of everything, though I am mostly found in high impact but often overlooked areas such
			as editor tooling.
		</p>

		<div class="columns-masonry lg:columns-max-masonry max-w-screen-3xl mx-auto gap-x-3">
			{articles.map((article) => <ArticlePreview article={article} />)}
			<section class="bg-orange-carrot p-6 text-black-charcoal">
				<h2 class="m-0 mb-4 text-center text-3xl">Latest wiki modifications</h2>
				<ul class="m-0 p-0">
					{
						wikiItems.map((item) => (
							<li class="m-0 mb-3 list-none">
								<a class="block font-medium leading-tight" href={getURLFromEntry(item)}>
									{item.data.title}
								</a>
								<span class="block text-sm first-letter:uppercase" data-date={item.lastModified}>
									{readableDate(item.lastModified)}
								</span>
							</li>
						))
					}
				</ul>
			</section>
		</div>
	</article>
</BaseLayout>
