---
import ExternalLink from "$components/ExternalLink.astro";
import ArticlePreview from "$components/shared/ArticlePreview.astro";
import { getLastModified } from "$data/wiki";
import BaseLayout from "$layouts/BaseLayout.astro";
import { blogFilter, getURLFromEntry, readableDate } from "$utils";
import { getCollection } from "astro:content";

const articles = (await getCollection("blog"))
	.sort((a, b) => {
		return b.data.date.getTime() - a.data.date.getTime();
	})
	.filter(blogFilter)
	.slice(0, 10);

const wikiItems = (await getCollection("wiki"))
	.map((wikiItem) => ({
		...wikiItem,
		lastModified: getLastModified(wikiItem).lastModifiedDate,
	}))
	.sort((a, b) => {
		return b.lastModified.getTime() - a.lastModified.getTime();
	})
	.slice(0, 7);
const featuredProjects = (await getCollection("projects"))
	.filter((project) => project.data.featured)
	.slice(0, 3);
---

<BaseLayout>
	<article class="mx-auto">
		<p class="content mx-auto w-centered-width">
			Hello. I'm <span class="">Erika</span>, a software engineer living in Sweden&nbsp;🇸🇪, pleased
			to meet you!
		</p>

		<p class="content mx-auto w-centered-width">
			I am currently employed at <ExternalLink href="https://astro.build">Astro</ExternalLink> where
			I do a bit of everything, though I am mostly found in high impact but often overlooked areas such
			as editor tooling.
		</p>

		<div class="mx-auto max-w-screen-3xl columns-masonry gap-x-3 lg:columns-max-masonry">
			{articles.map((article) => <ArticlePreview article={article} />)}
			<section
				class="border-violet-ultra/15 break-inside-avoid border-2 border-solid pb-3 text-black-charcoal"
			>
				<h2 class="m-0 px-6 pb-2 pt-4 text-2xl">Latest wiki modifications</h2>
				<ul class="m-0 p-0">
					{
						wikiItems.map((item) => (
							<li class="m-0 list-none">
								<a
									class="group block px-6 py-2 font-medium leading-tight text-accent-valencia hover:bg-accent-valencia hover:text-white-sugar-cane focus:bg-accent-valencia focus:text-white-sugar-cane"
									href={getURLFromEntry(item)}
								>
									{item.data.title}
									<span
										class="block text-sm text-black-charcoal first-letter:uppercase group-hover:text-white-sugar-cane group-focus:text-white-sugar-cane"
										data-date={item.lastModified}
									>
										{readableDate(item.lastModified)}
									</span>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</div>
	</article>
</BaseLayout>
