---
import BaseLayout from "$layouts/BaseLayout.astro"
import ArticlePreview from "$components/shared/ArticlePreview.astro"
import ArticleListAside from "$components/articleList/ArticleListAside.astro"
import type { Article } from "$data/articles"
import type { MarkdownInstance, Page } from "$data/shared"

export interface Props {
  page: Page<MarkdownInstance<Article>>
  title: string
}

const { page, title } = Astro.props as Props
---

<BaseLayout title={title}>
  <article class="w-articleList mx-auto flex flex-col md:flex-row mt-4 sm:mt-6">
    <div class="sm:w-[80%]">
      <h2 class="mt-0">{title}</h2>
      {page.data.map((item) => <ArticlePreview article={item.frontmatter} />)}
      <div>
        {page.url.prev && <a href={page.url.prev}>Newer posts</a>}
        {page.url.next && (
          <a class="float-right" href={page.url.next}>
            Older posts
          </a>
        )}
      </div>
    </div>

    <ArticleListAside />
  </article>
</BaseLayout>
