---
import ExternalLink from "$components/ExternalLink.astro";
import ContentHeader from "$components/shared/ContentHeader.astro";
import TableOfContent from "$components/shared/TableOfContent.astro";
import BaseLayout from "$layouts/BaseLayout.astro";
import type { CollectionEntry } from "astro:content";
import { render } from "astro:content";

interface Props {
	article: CollectionEntry<"blog">;
}

const { article } = Astro.props;
const { Content, headings } = await render(article);
---

<BaseLayout title={article.data.title} description={article.data.description}>
	{
		article.data.featured ? (
			<div class="my-0 mt-10 bg-accent-valencia text-white-sugar-cane">
				<div class="mx-auto w-centered-width">
					<h1 class="my-0 mb-4 py-4 text-6xl">{article.data.title}</h1>
				</div>
			</div>
		) : (
			<Fragment />
		)
	}
	<section class="grid gap-x-4 sm:gap-x-0 md:grid-cols-layout-tablet xl:grid-cols-layout">
		<aside
			class="mt-36 hidden p-4 transition-opacity duration-100 ease-linear hover:opacity-100 sm:block sm:pr-0 xl:mr-0"
		>
			{
				headings.length > 0 && (
					<TableOfContent headers={headings} maxDepth={article.data.maxDepthTOC ?? 4} />
				)
			}
		</aside>

		<article class="prose mx-auto w-centered-width">
			<ContentHeader item={article} includeTags includeTitle={!article.data.featured} />
			<Content components={{ a: ExternalLink }} />
		</article>
	</section>
</BaseLayout>

<script>
	const asides = document.querySelectorAll("aside");

	document.addEventListener(
		"scroll",
		() => {
			if (
				window.scrollY > 350 &&
				window.scrollY + window.innerHeight < document.body.scrollHeight - 250
			) {
				asides.forEach((aside, i) => {
					aside.classList.toggle(i === 0 ? "opacity-35" : "opacity-65", true);
				});
			} else {
				asides.forEach((aside, i) => {
					aside.classList.toggle(i === 0 ? "opacity-35" : "opacity-65", false);
				});
			}
		},
		{
			capture: false,
			passive: true,
		},
	);
</script>
