---
import ArticleListAside from "$components/articleList/ArticleListAside.astro";
import ArticlePreview from "$components/shared/ArticlePreview.astro";
import BaseLayout from "$layouts/BaseLayout.astro";
import type { Page } from "astro";
import type { CollectionEntry } from "astro:content";

interface Props {
	page: Page<CollectionEntry<"blog">>;
	title?: string;
}

const { page, title } = Astro.props;
---

<BaseLayout title={title}>
	<article class="flex gap-x-4">
		<div class="">
			{title ?? <h2 class="">{title}</h2>}
			{page.data.map((item) => <ArticlePreview article={item} />)}
			<div>
				{page.url.prev && <a href={page.url.prev}>Newer posts</a>}
				{
					page.url.next && (
						<a class="" href={page.url.next}>
							Older posts
						</a>
					)
				}
			</div>
		</div>

		<ArticleListAside />
	</article>
</BaseLayout>
