---
import ArticleListAside from "$components/articleList/ArticleListAside.astro";
import ArticlePreview from "$components/shared/ArticlePreview.astro";
import BaseLayout from "$layouts/BaseLayout.astro";
import type { Page } from "astro";
import type { CollectionEntry } from "astro:content";

interface Props {
	page: Page<CollectionEntry<"blog">>;
	title?: string;
  showAllButton?: boolean | undefined
}

const { page, title, showAllButton } = Astro.props;
---

<BaseLayout title={title}>
	<article class="flex gap-x-4">
		<div class="flex-1 px-4">
			{title ? <h2 class="text-3xl text-black-charcoal">{title}</h2> : <></>}
			<div class="columns-masonry lg:columns-max-masonry mt-4">
				{page.data.map((item) => <ArticlePreview article={item} />)}
			</div>
			<div class="text-xl mt-4">
				{page.url.prev && <a class="button-style-bg-accent" href={page.url.prev}>Newer posts</a>}
				{
					page.url.next && (
						<a class="float-right button-style-bg-accent" href={page.url.next}>
							Older posts
						</a>
					)
				}
			</div>
		</div>

		<ArticleListAside showAllButton={showAllButton} />
	</article>
</BaseLayout>
