---
import Header from "$components/layout/Header.astro"
import Socials from "$components/layout/Socials.astro"
import { Sprite } from "astro-icon"
import { generateSocialImage, SocialImageResult } from "astro-social-images"
import { getBaseSiteURL } from "$utils"
import "src/assets/style/prin.css"

export interface Props {
  title?: string
  description?: string
  styles?: string[]
  js?: string[]
  socialImage?: boolean
}

const { title, description, styles = [], js = [], socialImage = false } = Astro.props as Props

let socialImageURL: SocialImageResult = undefined
if (socialImage) {
  socialImageURL = generateSocialImage(
    {
      backgroundColor: "#28262c",
      images: [{ url: "static/resized-social-card.png", attributes: { top: 375, left: 900 } }],
      texts: [
        {
          content: title ? `${title}` : "Princesseuh",
          attributes: { x: "55", y: "105", "font-size": "70px", fill: "#fefffe" },
        },
        {
          content: description,
          attributes: { x: "50", y: "325", "font-size": "40px", fill: "#fefffe" },
        },
      ],
    },
    {
      outputDir: "static/assets/socials",
      urlPath: getBaseSiteURL(),
      publicDir: "static",
    },
  )
}
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <link
      rel="preload"
      href="/assets/fonts/cantarell-bold-webfont.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/assets/fonts/cantarell-regular-webfont.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />

    <title>{title ? `${title} - Princesseuh` : "Princesseuh"}</title>
    <meta name="description" content={description ? description : "My personal website"} />
    <meta property="og:title" content={title ? `${title} - Princesseuh` : "Princesseuh"} />
    <meta property="og:description" content={description ? description : "My personal website"} />

    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="princesseuh.dev" />

    {socialImage ? (
      <meta property="og:image" content={socialImageURL.url} />
      <meta name="twitter:card" content="summary_large_image" />
      <meta name="twitter:image" content={socialImageURL.url} />
    ) : (
      <meta property="og:image" content={getBaseSiteURL() + "social-card.png"} />
      <meta name="twitter:card" content="summary"/>
      <meta name="twitter:image" content={getBaseSiteURL() + "social-card.png"} />
    )}

    <link rel="canonical" href={Astro.canonicalURL} />
    <meta property="og:url" href={Astro.canonicalURL} />

    <script type="module">
      // prettier-ignore
      import "/src/assets/scripts/main.ts";
    </script>
  </head>
  <body>
    <Sprite.Provider>
      <div id="app" class="bg-baltic-sea">
        <Header />

        <main class="px-6 lg:px-0">
          <slot />
        </main>

        <footer class="px-5 sm:px-0 py-6 flex justify-center leading-tight bg-darker-skylines">
          <section class="flex justify-between w-footer">
            <Socials />

            <div>
              Powered by <a href="https://astro.build/">Astro</a><br />
              <a href="https://github.com/Princesseuh/princesseuh.dev">Source Code</a><br />
              <a href="/settings/">Settings</a>
            </div>
          </section>
        </footer>
      </div>
    </Sprite.Provider>
  </body>
</html>
