---
import BaseLayout from "$layouts/BaseLayout.astro";
import WikiNavigation from "$components/wiki/WikiNavigation.astro";
import ContentHeader from "$components/shared/ContentHeader.astro";
import WikiTOC from "$components/wiki/WikiTOC.astro";
import { readableDate } from "$utils";
import type { WikiItem } from "$data/wiki";
import type { MDXInstance } from "astro";

export interface Props {
  wikiItem: MDXInstance<WikiItem>;
}

const { wikiItem } = Astro.props;
const headings = wikiItem.getHeadings();
---

<BaseLayout title={wikiItem.frontmatter.title} description={wikiItem.frontmatter.tagline}>
  <section class="mx-auto my-0 grid w-wiki gap-[3%] sm:grid-cols-wiki">
    <aside class="mb-4 mt-10 hidden transition-opacity duration-100 ease-linear sm:block">
      <WikiNavigation />
    </aside>

    <article class="post">
      <ContentHeader item={wikiItem.frontmatter} includeTags={false} />
      <wikiItem.Content />

      <span class="mb-4 block text-right text-creative-work">
        Page last modified <a
          href={wikiItem.frontmatter.lastModifiedCommitUrl}
          data-date={wikiItem.frontmatter.lastModified}
          >{readableDate(wikiItem.frontmatter.lastModified)}
        </a>
      </span>
    </article>

    <aside class="mt-10 mb-4 hidden transition-opacity duration-100 ease-linear sm:block">
      {
        headings.length > 0 && (
          <WikiTOC headers={headings} maxDepth={wikiItem.frontmatter.maxDepthTOC || 4} />
        )
      }
    </aside>
  </section>
</BaseLayout>
