---
import BaseLayout from "$layouts/BaseLayout.astro"
import WikiNavigation from "$components/wiki/WikiNavigation.astro"
import ContentHeader from "$components/shared/ContentHeader.astro"
import WikiTOC from "$components/wiki/WikiTOC.astro"
import { readableDate } from "$utils"

const { wikiItem } = Astro.props
---

<BaseLayout title={wikiItem.title} description={wikiItem.tagline} styles={wikiItem.loadCSSModules}>
  <section class="gap-[3%] grid sm:grid-cols-wiki mx-auto my-0 w-wiki">
    <aside class="mb-4 duration-100 ease-linear mt-10 transition-opacity hidden sm:block">
      <WikiNavigation />
    </aside>

    <article class="post">
      <ContentHeader item={wikiItem} includeTags={false} />
      <!-- prettier-ignore -->
      <wikiItem.Content />

      <span class="text-right block text-creative-work mb-4">
        Page last modified <span data-date={wikiItem.lastModified}
          >{readableDate(wikiItem.lastModified)}</span
        >
      </span>
    </article>

    <aside class="mt-10 mb-4 transition-opacity duration-100 ease-linear hidden sm:block">
      {wikiItem.astro.headers.length > 0 && (
        <WikiTOC headers={wikiItem.astro.headers} maxDepth={wikiItem.maxDepthTOC || 4} />
      )}
    </aside>
  </section>
</BaseLayout>
