---
import BaseLayout from "$layouts/BaseLayout.astro"
import WikiNavigation from "$components/WikiNavigation.astro"
import ContentHeader from "$components/ContentHeader.astro"
import WikiTOC from "$components/WikiTOC.astro"

import { Markdown } from "astro/components"
import { CSSComponent } from "astro-css-components"

const { wikiItem } = Astro.props
---

<CSSComponent
  register={{ name: "code", contentFile: "src/theme/css/modules/code.css" }}
  conditional={wikiItem.loadCSSModules.includes("code")}
  minify={true} />

<BaseLayout title={wikiItem.title} description={wikiItem.tagline}>
  <section class="gap-[3%] grid sm:grid-cols-wiki mx-auto my-0 w-wiki">
    <aside class="mb-4 duration-100 ease-linear mt-10 transition-opacity hidden sm:block">
      <WikiNavigation />
    </aside>

    <article class="post">
      <ContentHeader item={wikiItem} includeTags={false} />
      <Markdown content={wikiItem.astro.source} />
    </article>

    <aside class="mt-10 mb-4 transition-opacity duration-100 ease-linear hidden sm:block">
      {wikiItem.astro.headers.length > 0 && <WikiTOC headers={wikiItem.astro.headers} maxDepth={wikiItem.maxDepthTOC || 4} />}
    </aside>
  </section>
</BaseLayout>
