---
import ContentHeader from "$components/shared/ContentHeader.astro";
import TableOfContent from "$components/shared/TableOfContent.astro";
import { getLastModified, getWikiNavigation } from "$data/wiki";
import BaseLayout from "$layouts/BaseLayout.astro";
import { readableDate } from "$utils";
import type { CollectionEntry } from "astro:content";

interface Props {
  wikiItem: CollectionEntry<"wiki">;
}

const { wikiItem } = Astro.props;
const { Content, headings } = await wikiItem.render();
const lastModified = getLastModified(wikiItem);
---

<BaseLayout
  title={wikiItem.data.title}
  description={wikiItem.data.tagline}
  navItems={await getWikiNavigation(new URL(Astro.request.url))}
>
  <section class="mx-auto grid-cols-content gap-6 sm:grid">
    <article class="post max-w-[72ch]">
      <ContentHeader item={wikiItem} includeTags={false} />
      <Content />

      <span class="mb-4 block text-right text-creative-work">
        Page last modified <a
          href={lastModified.lastModifiedCommitUrl}
          data-date={lastModified.lastModifiedDate}
          >{readableDate(lastModified.lastModifiedDate)}
        </a>
      </span>
    </article>

    <aside class="mr-4 mt-10 hidden sm:block xl:mr-0">
      {
        headings.length > 0 && (
          <TableOfContent headers={headings} maxDepth={wikiItem.data.maxDepthTOC || 4} />
        )
      }
    </aside>
  </section>
</BaseLayout>
